
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$freshcart-primary: mat.define-palette(mat.$indigo-palette);
$freshcart-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$freshcart-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$freshcart-theme: mat.define-light-theme((
  color: (
    primary: $freshcart-primary,
    accent: $freshcart-accent,
    warn: $freshcart-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($freshcart-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
$main-color: #0aad0a;
$light-color: #f0f3f2;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #ffc908;
$main-transition: 0.8s;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $light-color;
}

::-webkit-scrollbar-thumb {
  background-color: #049704f7;
  border-radius: 50px;
  box-shadow: 0 0 20px 50px #049704f7;
  border-radius: 2px;
}

.nav-link {
  transition: unset !important;
}

.active-link {
  background-color: $main-color;
  color: #fff !important;
  border-radius: 5px;
  // transform: scale(1.2);
  // transition: all 0.5s;
  
}
body {
  font-family: $font-family;
}

.rating-color {
  color: $rating-color;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: $main-color;
}

.text-main-light {
  color: $light-color;
}

.bg-main {
  background-color: $main-color !important;
}

.bg-main-light {
  background-color: $light-color !important;
}

.main-btn {
  border: unset;
  cursor: pointer;
  color: #fff !important;
  background-color: $main-color !important;
  padding: 4px 8px;
  transition: background-color $main-transition;
  border-radius: 5px;

  &:hover {
    background-color: #08e208 !important;
  }

  &:disabled {
    background-color: #067a0663 !important;
    color: #ffffff8e !important;
    cursor: not-allowed;
  }
}

input:focus {
  box-shadow: 0 0 0 0.25rem rgb(10 173 10 / 39%) !important;
  border-color: #0aad0a !important;
}

.product {
  padding: 6px 9px;
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    box-shadow: $shadow;
    border: solid 1px $main-color;

    .add-btn {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .add-btn {
    transition: transform 1s, opacity 1s, background-color 1s;
    transform: translateY(100%);
    opacity: 0;
  }
}

.ngx-pagination .current {
  background: #0aad0a !important;
  border-radius: 5px !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #dafada !important;
  border-radius: 5px !important;
  color: $main-color !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #18aa1c !important;
}

.toast-success {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
